:root {
  --color-purple: #be7dff;
  --color-yellow: #ffcc33;
  --color-dark-black: #212121;
  --color-pink: #ff8aac;
  --color-green: #6dd3a8;
  --color-blue: #0acdff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  cursor: pointer;
}

body {
  background-color: var(--color-dark-black);
  color: white;
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
